.posts {
  .swiper-slide {
    box-shadow: 0 0 5px black;
    overflow: hidden;
    border-radius: 10px;
    width: 160px !important;
    height: 280px !important;
    margin: 10px 4px 10px 10px;
    padding-bottom: 10px;
    transition: all 0.55s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  .swiper-wrapper {
    padding: 10px 0 25px 0;
  }
  .swiper {
    width: 90% !important;
    overflow-x: hidden;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 70px;
    .swiper-horizontal > .swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      height: 10px;
      bottom: 0;
    }
  }
  .images {
    height: 202px;
    width: 160px;
    img {
      width: 100%;
      height: 100%;
      object-fit: covers;
    }
  }
  .title {
    padding: 0 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h4 {
      font-size: 1em;
      font-weight: 500;
      line-height: 20px;
    }
    h6 {
      font-size: 1em;
      font-weight: 630;
    }
  }
}
