#wrapper {
	width: 430px;
	margin: 25px auto;
	background: #000;
	padding: 64px;
	background-size: cover;
	position: relative;
	z-index: 1;
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.76);
}

#table button {
	text-transform: uppercase;
	margin-right: 40px;
	padding: 11px 4px;
	color: #fff;
	cursor: pointer;
	transition: all 0.55s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.form-group {
	position: relative;
	margin-bottom: 16px;
}

.form-group label {
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	margin-left: 14px;
	color: #fff;
}

.form-group input {
	width: 100%;
	background: #032541;
	outline: none;
	padding: 10px 14px;
	color: #000;
	border: none;
	border-radius: 36px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	transition: background 0.5s ease-in-out;
	color: white;
}
.form-group span#showpwd {
	position: absolute;
	top: 32px;
	right: 16px;
	cursor: pointer;
}
//
.form-group input:focus {
	background: #fff;
	color: #000;
}
//
#checkbox {
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}
//
#checkbox input + .text:before {
	content: '\f096';
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 6px;
	width: 1em;
}
//
#checkbox input:checked + .text:before {
	content: '\f14a';
	color: #1061ee;
	animation: scalecheck 0.1s;
}
//
#checkbox input {
	display: none;
}
//
@-webkit-keyframes scalecheck {
	0% {
		transform: scale(0);
	}
	90% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
//
.hr {
	width: 100%;
	height: 1.4px;
	background: rgba(128, 128, 128, 0.51);
	border-radius: 17px;
	margin-bottom: 33px;
}
//
#froget-pass {
	text-align: center;
	color: #bbb;
	margin: 0;
	display: block;
}
//
.left-enter {
	opacity: 0;
}
//
.left-enter-active {
	opacity: 1;
	transition: all 1s ease-in;
}
//
.left-exit {
	opacity: 1;
}
//
.left-exit-active {
	opacity: 0;
	transition: all 1s ease-in;
}
