.popular {
	margin: 200px 0;
	&--card {
		border: 2px solid black;
		border-radius: 10px;
		overflow: hidden;
		&__image {
			width: 100%;
			height: 82.5%;
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}
